.ButtonsShapes{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 4px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.ButtonsShapes_active{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 4px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 4px 3px #00000026;
    padding: 4px;
}
.ButtonsShapes_list {
    position: absolute;
    left: 37px;
    top: 0px;
    padding: 4px;
    border: 1px solid #fff;
    background-color: #ecebeb;
    border-radius: 0 8px 8px;
}
.ButtonsShapes_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.listChild:hover{
    color: #ff6d00;
}